* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #5995da; /* Blue */
  padding: 20px 0;
  display: flex; /* Make this a flex container */
  justify-content: center; /* Horiz. align contained items */
  /* Other Alignments: */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
}

.menu {
  /* For debugging */
  /* border: 1px solid #fff; */

  width: 900px;
  display: flex; /* Nested flex container */

  /* Horiz. align multiple items */
  justify-content: space-between; /* Evenly distributed in the line. */

  /*  Evenly distributed in line, with half-size spaces on either end. */
  /* justify-content: space-around; */
}

/* Flex containers only position elements one level deep. */
/* By grouping .signup and .login into .links, .menu only has 2 flex items. */
.links {
  /* For debugging */
  /* border: 1px solid #fff; */

  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px; /* Margins work just like in the normal box model */
}

.header-container {
  color: #5995da;
  background-color: #d6e9fe;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px; /* setting explicit height allows items to be vert. aligned */
  display: flex;
  justify-content: space-between;
  align-items: center; /* Cross-axis (vert.) alignment */
  /* Other Alignments: */
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: stretch; */
  /* align-items: baseline; */
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 900px;
  display: flex;

  /* Control whether flex container is single-line or multi-line,
     and the direction of the cross-axis (determines direction of new lines). */
  flex-wrap: wrap; /* multi-line. */

  /* single-line. */
  /* flex-wrap: nowrap; */

  /* cross-start and cross-end directions swapped. */
  /* flex-wrap: wrap-reverse; */
}

@media (min-width:600px) {
  .photo-grid {
    justify-content: center;

    /* flex-direction can control the order of items */
    /* flex-direction: row-reverse; */
  }
}

@media (max-width:599px) {
  .photo-grid {
      /* Control whether items render horizontally (default) or vertically.
     Useful for responsive design; most mobile layouts are single column,
     while most desktop layouts stack elements horizontally. */
    flex-direction: column;

    /* flex-direction can control the order of items */
    /* flex-direction: column-reverse; */

    /* Rotating direction of the container also rotates the direction of
      justify-content and align-items. */
      align-items: center;
  }
}

.photo-grid-item {
  /* border: 1px solid #fff; */
  width: 300px;
  height: 300px;
}

/* It's also possible to control item position through the items order property.
   Default is 0; increasing/decreasing moves the item right/left. */
/* Unlike row-reverse and column-reverse, order works across row/column
   boundaries.
*/
/* Swap order of .one and .five */
.first-item {
  order: 1;
}

.last-item {
  order: -1;
}

/* Can do the same with vertical alignment. */
.social,
.subscribe {
  align-self: flex-end;  /* override the containers align-items */
  margin-bottom: 20px;  /* margin works as normal */
}
