*,
*::before,
*::after {
  box-sizing: border-box;
}

.controls-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.controls-container label {
  flex: 1;
  flex-basis: 160px;
}

.controls-container select {
  width: 100%;
}

.demo-box {
  border: 1px solid blue;
  padding: 8px;
  margin: 20px 0px;
}

.container {
  border: 1px solid #808080;
}

.h250 {
  height: 250px;
}

.item {
  padding: 10px 16px;
  border: 2px solid orange;
  background-color: peachpuff;
}

#reactive-form-demo form {
  padding: 8px;
  width: 550px;

  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  align-items: flex-end; /* align the button */
}

#reactive-form-demo .name-label {
  flex: 160px; /* sets grow: 1, shrink: 1, basis: 160px */
}

#reactive-form-demo .email-label {
  flex-basis: 200px;
  flex-grow: 3;
}

#reactive-form-demo form input {
  width: 100%;
  height: 2.5rem;
  margin-top: 4px;

  /* was in the tutorial, but doesn't seem to affect anything */
  /* display: block; */
}

#reactive-form-demo button {
  height: 2.5rem;
  flex: 80px; /* sets grow: 1, shrink: 1, basis: 80px */
}

#flex-direction-container {
  display: flex;
}

.big-text {
  font-size: 22px;
}
